<div id="gcode_edit_dialog" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <textarea class="edit-text" rows="25" id="gcode" style="width: 97%; resize: vertical;" data-bind="value: $root.gcodeTextArea, valueAllowUnset: false"></textarea>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Output Filename') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: $root.destinationFilename">
                    </div>
                </div>
                <label class="control-label">{{ _('Cut Gcode height mm') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" data-bind="value: $root.gcodeHeight">
                    </div>
                    <a href="#" class="btn btn-primary" data-bind="click:
                    function() { $root.cutGcode() }"
                >{{ _('Cut') }}</a>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click:
            function() {
                if ($root.canSaveGcode()) {
                    $root.saveGcode()
                }
            },
            css: {disabled: !$root.canSaveGcode()},
            attr: {title: $root.saveGcodeButtonTooltip}"
        >{{ _('Save') }}</a>
    </div>
</div>

<div class="hide" id="loading_modal">
    <div class="loading">Loading<span>.</span><span>.</span><span>.</span></div>
</div>
